@tailwind base;
@tailwind components;
@tailwind utilities;  /* Custom css */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre&display=swap');

:root {
  --plyellow: #FFFEC9;
  --plpink: #E9D3E3;
  --plblue: #ACB6E5;  
  --plindigo: #6E88CE;
  --DigitalWater: linear-gradient(0deg, rgba(181,214,212,1) 5%, rgba(208,197,221,1) 100%);
}

* { box-sizing: border-box }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /*font-family: 'Open Sans';*/
}

nav {
  font-family: 'Open Sans'
}


#over {
  min-height: 40vh;
  background: url('../../public/arch-architecture-dark-259771.jpg');
  background-size: cover;
  background-position: center;
}

#hero {
  font-family: 'Proza Libre';
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  min-height: 85vh;
  background: url('../../public/evan-phillip-vSnExJmjiQk-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.digital {
  background: var(--DigitalWater);
}

.digital-b {
  background: var(--plblue);
}

.digital-c {
  border-color: var(--plindigo);
}

.btn-hero {
  background-color: var(--plpink);
}

#home {
  padding-top: 82vh;
}